#fakeContainer p.billEnter{
    margin-top: 20px;
    margin-left: 15px;
}
#fakeContainer p.billEnter a{
    cursor: pointer;
}
#fakeContainer p.billEnter:first-of-type{
    margin-top: 70px;
}
.btn-round{
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 45px;
}

#realContainer{
    display: none;
    font-size: 17px;
}
#realContainer .panel{
    margin: 5px -15px 10px -15px;
}
#realContainer .panel .panel-heading{
    font-size: 14px;
}
button.small-round{
    margin-top: 30px;
    width: 130px;
    height: 130px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 45px;
    box-shadow: 0px 10px 10px 0px #999;
}
.footer-small{
    font-size: 10px;
}

#thanksContainer{
    display: none;
}
#thanksDiv{
    margin: 12px -15px 10px -15px;
}
@media (min-width: 330px) {
    #thanksDiv{
        margin: 40px -15px 30px -15px;
    }
}
#thanksDiv hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
#thanksDiv p{
    font-size: 14px;
    text-indent: 28px;
    margin: 0px;
}
#thanksDiv p span{
    font-weight: bold;
    color: darkgreen;
}

#thanksContainer .panel{
    margin: 10px 0px;
}
#thanksContainer .panel ul{
    margin-bottom: 0px;
}
#thanksContainer .panel ul li span{
    margin-right: 3%;
}
#thanksContainer .panel table{
    font-size: 15px;
}
#thanksContainer .panel table thead{
    background-color: #f7f7f9;
}
#thanksContainer .table>thead:first-child>tr:first-child>th:first-child{
    width: 30%;
}